<!--The content below is only a placeholder and can be replaced.-->
<div fxLayout="column" fxLayoutAlign="start stretch" fxFill>
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button color="primary" routerLink="/users">
      <mat-icon aria-label="Return home">home</mat-icon>
    </button>
    <button mat-icon-button color="primary" routerLink="/log">
      <mat-icon aria-label="Show messages">history</mat-icon>
    </button>
  </mat-toolbar>
  <router-outlet fxFlex></router-outlet>
</div>
