<mat-card class="container" fxLayout="column" fxFlex fxLayoutGap="20px">
  <h3 mat-subheader>Users</h3>
  <div *ngFor='let user of userList$ | async' routerLink="/user/{{user.userid}}" fxLayoutGap="5px">
    <div class="list-item" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <img class="round-image" [src]="user.owner.foto">
      <span> {{user?.owner?.name}} {{user?.owner?.surname}} </span>
      <span> {{user?.vehicles?.length}} vehicle(s) </span>
    </div>
  </div>
</mat-card>
