<mat-card class="container" fxLayout="column" fxFlex fxLayoutGap="20px">
  <span class="mat-display-1">Users</span>
  <div *ngFor='let user of userList$ | async' routerLink="/user/{{user.userid}}" fxLayoutGap="5px">
    <div class="list-item" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <div>
        <img class="list-image" [src]="user.owner.foto">
      </div>
      <div fxLayout="column" fxLayoutAlign="center stretch" fxFlex>
        <span class="mat-title"> {{user?.owner?.name}} {{user?.owner?.surname}} </span>
        <div fxLayout="row">
          <span style="min-width: 80px" class="mat-caption"> {{user?.vehicleCount()}} </span>
          <span class="mat-caption"> {{user?.vehicleDescription()}} </span>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
</mat-card>
